APP_VERSION=2.5.4
BOT_TOKEN="INSERT_YOUR_BOT_TOKEN_HERE"
ADMIN_IDS="INSERT_YOUR_TG_ID_HERE"
TELEGRAM_PROXY="socks5://user:pass@example.com:1080"
TZ="Europe/Moscow"
CHECK_INTERVAL_SECONDS=60
REMINDER_DAYS="7,3,1,0"
MONTHLY_REPORT_ENABLED=true
REPORT_HOUR=10
UPDATE_MANIFEST_URL=""

